{% load static %}
<!DOCTYPE html>
<html lang="es">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <!-- estilos css -->
    <link rel="stylesheet" href="{% static 'style-min.css' %}">
    <link rel="stylesheet" href="{% static 'normalize.css' %}">
    <title>{% block title %}biblioteca{% endblock title %}</title>
    
</head>
<body>
    {% block body %}
    <header class="header">
        <nav>
            <ul class="menu">
                <li class="menu__list">Inicio</li>
                <li class="menu__list">Autores</li>
                <li class="menu__list">Libros</li>
            </ul>
        </nav>
    </header>
    {% endblock body %}
    

    {% block js %} 
    {% endblock js %}
</body>
</html>